// Day mode
$i_0: #ffffff;
$i_10: #d9c9f1;
$i_20: #bd9eed;
$i_30: #9e74e9;
$i_40: #7759FD;
$i_50: #5b2bda;
$i_60: #3911ce;
$i_70: #1900c0;
$i_80: #0700af;
$i_90: #00089b;
$i_100: #001287;

$i_main: #5b2bda;
$i_accent: $i_60;
$i_faded: $i_40;
$i_highlight: $i_30;

$i_bg: white;
$i_secondary_highlight: lightgrey;

// Night mode
$i_bg_dark: #121212;
$i_secondary_dark: #eee;
$i_secondary_dark_highlight: #777;
$i_text_light: #fff;

$warning-color: #b00020;
$warning-color_dark: #cf6679;
$disabled-color: #eee;
