@font-face {
  font-family: 'OldLondon';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/OldLondon.ttf'); /* IE9 Compat Modes */
  //url('../fonts/OldLondon.ttf') format('truetype'), /* Safari, Android, iOS */
}